.about-section {
    padding: 40px 20px;
    background-color: #f8f9fa;
    margin-top: 50px;
}

/*.container {*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*    background: #fff;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);*/
/*}*/

h1, h2 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    color: #666;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-info {
    margin-top: 20px;
    color: #666;
}
